<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="sk2a.hello.chann.domain.User"/>
<!--        <typeAlias alias="Board" type="sk2a.hello.chann.domain.Board"/>-->
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/BoardMapper.xml"/>
    </mappers>
</configuration>