<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sk2a.hello.chann.dao.BoardDao">
    <select id="getAllBoards" resultType="Board">
        SELECT b.board_id, p.product_name AS title , u.user_name, p.reg_date
        FROM board AS b
            JOIN product AS p ON (b.product_id = p.product_id)
            JOIN user AS u ON (b.user_id = u.user_id);
    </select>
</mapper>