<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sk2a.hello.chann.dao.BoardDao">
    <resultMap id="BoardMap" type="Board">
        <result column="serverfilename" property="serverFileName"/>
        <result column="product_name" property="productName"/>
        <result column="detail" property="productDetail"/>
        <result column="cost" property="productCost"/>
        <result column="like_id" property="likeId"/>
        <result column="reg_date" property="regDate"/>
    </resultMap>

    <select id="getBoardsByPage" resultMap="BoardMap" parameterType="java.util.Map">
        SELECT i.serverfilename, p.product_name, p.detail, p.cost, l.like_id, p.reg_date
        FROM product AS p
        LEFT JOIN image AS i ON p.product_id = i.product_id
        LEFT JOIN board AS b ON p.product_id = b.product_id
        LEFT JOIN liked AS l ON b.board_id = l.board_id
        WHERE 1=1
        <if test="category != null and category != ''">
            <choose>
                <when test="category == 'option1'">
                    AND p.category_id = 1
                </when>
                <when test="category == 'option2'">
                    AND p.category_id = 2
                </when>
            </choose>
        </if>
        <if test="price != null and price != ''">
            <choose>
                <when test="price == 'price1'">
                    AND p.cost BETWEEN 1000 AND 10000
                </when>
                <when test="price == 'price2'">
                    AND p.cost BETWEEN 11000 AND 20000
                </when>
            </choose>
        </if>
        <if test="time != null and time != ''">
            <choose>
                <when test="time == 'option1'">
                    ORDER BY p.reg_date DESC
                </when>
                <when test="time == 'option2'">
                    ORDER BY p.reg_date ASC
                </when>
            </choose>
        </if>
        <if test="search != null and search != ''">
            AND p.product_name LIKE CONCAT('%', #{search}, '%')
        </if>
        GROUP BY p.product_id
        LIMIT #{startRow}, #{pageSize}
    </select>

    <select id="getTotalBoardCount" resultType="long" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM (
        SELECT p.product_id
        FROM product AS p
        LEFT JOIN image AS i ON p.product_id = i.product_id
        LEFT JOIN board AS b ON p.product_id = b.product_id
        LEFT JOIN liked AS l ON b.board_id = l.board_id
        WHERE 1=1
        <if test="category != null and category != ''">
            <choose>
                <when test="category == 'option1'">
                    AND p.category_id = 1
                </when>
                <when test="category == 'option2'">
                    AND p.category_id = 2
                </when>
            </choose>
        </if>
        <if test="price != null and price != ''">
            <choose>
                <when test="price == 'price1'">
                    AND p.cost BETWEEN 1000 AND 10000
                </when>
                <when test="price == 'price2'">
                    AND p.cost BETWEEN 11000 AND 20000
                </when>
            </choose>
        </if>
        <if test="time != null and time != ''">
            <choose>
                <when test="time == 'option1'">
                    ORDER BY p.reg_date DESC
                </when>
                <when test="time == 'option2'">
                    ORDER BY p.reg_date ASC
                </when>
            </choose>
        </if>
        <if test="search != null and search != ''">
            AND p.product_name LIKE CONCAT('%', #{search}, '%')
        </if>
        GROUP BY p.product_id
        ) AS subquery
    </select>
</mapper>
